* {
    box-sizing: border-box;
}
#pics {
    background-color: grey;
    text-align: center;
    margin: 0px;
}
.tri-pic {
    width: 20%;
    border-radius: 50%;
    border: 10px solid #444;
    margin: 4.5%;
}
body {
    margin: 0px;
}
img {
    max-width: 100%;
}