/* Shared */
:root {
    font-family: Lato, Helvetica, sans-serif;
}
main {
    background-color: #A9B4C2;
}

/* Header */
header {
    background-color: #7D98A1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    box-sizing: border-box;
}

/* Footer */
footer {
    background-color: #1C2321;
    display: grid;
    grid-template-columns: 200px auto;
    box-sizing: border-box;
}
.logo-box {
    width: fit-content;
}
.logo-box img {
    width: 200px;
}
.footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.footer-links a {
    color: #594AE3;
    text-decoration: none;
    font-size: 40px;
}
.footer-links a:hover {
    color: #AE9EE8;
}

/* Calendar page */
.main-page {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
}
.schedule-button {
    padding: 50px 0 0 0;
    grid-column: 2/3;
    justify-self: center;
}
.schedule-button button {
    font-size: 30px;
    font-weight: bold;
    width: 300px;
    height: 50px;
    background-color: #BAC5D3;
}
.whole-calendar {
    grid-column: 2/3;
    align-self: center;
    padding: 0 0 50px 0;
}
.calendar-title {
    font-family: 'Lobster', cursive;
    font-size: 60px;
    color: green;
    text-align: center;
}
.month-and-year {
    font-size: 30px;
    color: red;
    text-align: center;
}
.calendar {
    border-collapse: collapse;
    background: white;
    color: black;
}
th, td { 
    font-weight: bold;
}
th {
    background-color: #AE9EE8;
}

/* Activity center */
.activity-center {
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: auto auto;
    align-items: center;
}
.activity-input {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 4fr 1fr 1fr 6fr 1fr 1fr;
    justify-items: center;
}
.activity-header {
    grid-row: 1/2;
    text-align: center;
    color: red;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}
.activity-name {
    grid-row: 2/3;
    width: 70%;
}
.activity-description {
    grid-row: 4/5;
    width: 70%;
}
.activity-enter-button {
    grid-row: 6/7;
    width: 70%;
}
.activity-buckets {
    margin: 100px 0 75px 0;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 218px 218px;
    align-items: center;
    justify-items: center;
}
.activity-bucket5 {
    grid-column: 2/3;
    grid-row: 2/3;
}
.activity-bucket6 {
    grid-column: 3/4;
    grid-row: 2/3;
}

/* Budget center */
.budget-center {
    display: grid;
    grid-template-rows: 172px 86px 128px 86px 172px;
    padding: 100px;
}
.budget-input {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.single-item-button {
    width: 50%;
    justify-self: right;
    font-size: 60px;
    grid-column: 1/2;
    grid-row: 1/2;
}
.multiple-item-button {
    width: 50%;
    justify-self: left;
    font-size: 60px;
    grid-column: 2/3;
    grid-row: 1/2;
}
.single-budget-input {
    width: 75%;
    justify-self: center;
    grid-column: 1/2;
    grid-row: 3/4;
}
.multiple-budget-input {
    width: 75%;
    justify-self: center;
    grid-column: 2/3;
    grid-row: 3/4;
}
.budget-buckets {
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}
.loose-activities {
    grid-row: 5/6;
    display: grid;
    grid-template-columns: 10fr 2fr 1fr 2fr 7fr 3fr 9fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.loose-activities p {
    font-size: 30px;
}
.loose-activity1 {
    background-color: white;
    border: 1px solid black;
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
}
.loose-activity2 {
    background-color: white;
    border: 1px solid black;
    grid-column: 4/8;
    grid-row: 1/2;
    text-align: center;
}
.loose-activity3 {
    background-color: white;
    border: 1px solid black;
    grid-column: 1/3;
    grid-row: 3/4;
    text-align: center;
}
.loose-activity4 {
    background-color: white;
    border: 1px solid black;
    grid-column: 5/6;
    grid-row: 3/4;
    text-align: center;
}
.loose-activity5 {
    background-color: white;
    border: 1px solid black;
    grid-column: 7/8;
    grid-row: 3/4;
    text-align: center;
}